<div class="site-wrapper">

  <div class="site-wrapper-inner">

    <div class="cover-container">
      <div class="inner cover">
        <img class="masthead-brand" src="images/mumfrog.png">
        <img class="center" src="images/frog770x400.jpg" alt="mumfrog">
        <h1 class="cover-heading">Janet Hollier's Portfolio</h1>
        <p class="lead">Welcome to my web site!  Take a look around to see what I've been working on.</p>
      </div>
      
    </div>  <!-- end cover-container -->

    <app-dashboard></app-dashboard>
  
  </div>  <!-- end site-wrapper-inner -->
</div>  <!-- end site-wrapper -->
