<div style="position:absolute;top:25px;left:25px;border:solid 1px black;">
		<canvas id="canvas" width="250px" height="60" >
	Your browser does not support HTML5 Canvas
		</canvas>
</div>
<div style="position:absolute;top:150px;left:25px;width:250px;">
  <button ng-click="toggleTrainButton()" type="button">Start Train
  </button>
  <fieldset id="add">
    <legend>Add New Car</legend>
    <label for="addType" class="label">Type:&nbsp;</label>
    <select id="addType"><select><br />
    <label for="addColor" class="label">Color:&nbsp;</label>
    <select id="addColor"><select><br />
    <label for="addLoc" class="label">Position:&nbsp;</label>
    <select id="addLoc">
      <option>1</option>
    <select><br />
    <button ng-click="addCar()" type="button">Add Car</button><br />
  </fieldset>
  <fieldset id="remove">
    <legend>Remove a Car</legend>
    <!--
    <em>Select from <b>one</b> menu:</em><br/>
    <label for="remId" class="label">Id:&nbsp;</label>
    <select id="remId"><select> -->
    <label for="remLoc" class="label">Position:&nbsp;</label>
    <select id="remLoc"">
      <option>-select-</option>
    <select><br />
    <button ng-click="deleteCar()" type="button">Remove Car</button><br />
    <input type="hidden" id="arg" value="" >
  </fieldset>
</div>
