#toggleOnOff {
  float: right;
  width: 140px;
  margin-bottom: 10px;
}
.label {
  width: 100px;
  text-align: right;
  float: left;
}
fieldset {
  margin-bottom: 2em;
  line-height: 1.5;
  width: 225px;
  float: right;
}
fieldset button {
  float: right;
  margin-top: 10px;
}
button {
  line-height: 1.5;
}